<template>
  <el-container>
    <el-header>
    <div class="title">{{title}}</div>
    <el-dropdown @command="handleCommand">
        <span class="el-dropdown-link">{{currentNet}}
        <i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="a">Mainnet</el-dropdown-item>
        <el-dropdown-item command="b">Testnet</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    </el-header>
    <el-main>
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
      <el-menu-item index="1">查看名片</el-menu-item>
      <el-menu-item index="2">创建名片</el-menu-item>
    </el-menu>
    <transition name="fade">
    <div class="main-card" v-if="activeIndex=='1'" v-loading="loading" element-loading-text="正在查询中...">
        <query-card @submitAddr="submitAddr"></query-card>
        <br>
        <transition name="fade">
          <card v-show="showCard" :cardInfo="cardInfo"></card>
        </transition>
        <transition name="fade">
        <el-alert v-show="!showCard"
          title="提示"
          type="info"
          :description=getDesc()
          :closable="false"
          show-icon>
        </el-alert>
        </transition>
    </div>
    <div class="main-card" v-else v-loading="loading" element-loading-text="交易确认中，请耐心等待...">
        <div class="note-extension" id="noExtension" v-if="!hasExtension">
        <div role="alert" class="el-alert el-alert--warning is-center"><i class="el-alert__icon el-icon-warning"></i><div class="el-alert__content"><span class="el-alert__title" v-html="getWarn()"></span><!----><i class="el-alert__closebtn el-icon-close" style="display: none;"></i></div></div>
        </div>
        <create-card @submitData="submitData"></create-card>
    </div>
    </transition>
    </el-main>
    <el-footer>
      <div class="footer">
        Copyright © 2018 Nebulas Business Card
      </div>
    </el-footer>
  </el-container>
  
</template>

<script>
import Card from './Card.vue'
import CreateCard from './CreateCard.vue'
import QueryCard from './QueryCard.vue'
const Nebulas = require('nebulas')
const Utils = Nebulas.Utils
const neb = new Nebulas.Neb()
const NebPay = require("nebpay.js")
const nebPay = new NebPay()
 
export default {
  data() {
    return {
      loading: false,
      hasExtension: false,
      title: '星云名片',
      activeIndex: '1',
      currentNet: 'Mainnet',
      showCard: false,
      nodata: '点击查询查看他的名片，或者创建一张自己的名片~',
      cardInfo: {},
      address: {
        Mainnet: {
          fromAddress: 'n1ThFycuaH4HPQjoJMmQoNoWerfmQADSfT3',
          contractAddress: 'n1xkpw3Aq1713pQpwVRBKcP1SL3VBEhUSFQ',
          baseUrl: 'https://mainnet.nebulas.io'
        },
        Testnet: {
          fromAddress: 'n1KKKkRQFe84epWkTtYU1UY1rVn63fWPf3v',
          contractAddress: 'n1qKwLBR7C2kWpxFrXKqnSEvp2kjgy8DQkY',
          baseUrl: 'https://testnet.nebulas.io'
        }
      }
    };
  },
  computed: {
    contractAddr: function() {
      return this.address[this.currentNet].contractAddress
    }
  },
  components: {
    CreateCard,
    QueryCard,
    Card
  },
  created() {
    neb.setRequest(new Nebulas.HttpRequest(this.address[this.currentNet].baseUrl))
    if(typeof(webExtensionWallet) === "undefined"){
      this.hasExtension = false
    }else{
      this.hasExtension = true
    }
  },
  methods: {
    getDesc() {
      return '可以输入 ' + this.address[this.currentNet].fromAddress + ' 查看他的名片~'
    },
    getWarn() {
      return '提示：缺少插件，请先安装 <a target="_blank" href="https://github.com/ChengOrangeJu/WebExtensionWallet">WebExtensionWallet</a>  再来添加你的名片吧~ '
    },
    submitData(data) {
      this.createCard(data)
    },
    submitAddr(data) {
      this.queryCardInfo(data)
    },
    handleSelect(key) {
      this.activeIndex = key
    },
    handleCommand(command) {
      if (command == 'a') {
        this.currentNet = 'Mainnet'
      } else {
        this.currentNet = 'Testnet'
      }
      neb.setRequest(new Nebulas.HttpRequest(this.address[this.currentNet].baseUrl))
    },
    createCard(data) {
      console.log(data, this.contractAddr)
      const value = 0
      const callFunction = 'update'
      const args = [data.name, data.title, data.email, data.website, data.phone]
      const callArgs = JSON.stringify(args)
      nebPay.call(this.contractAddr, value, callFunction, callArgs, {
        listener: this.cbPush
      });
    },
    cbPush(resp) {
      this.loading = true
      const that = this
      console.log("response of push: " + JSON.stringify(resp))
      var intervalQuery = setInterval(() => {
        neb.api.getTransactionReceipt({hash: resp["txhash"]}).then((receipt) => {
          console.log("判断数据提交到区块链的状态")
          if (receipt["status"] === 2) {
            console.log("pending.....")
          } else if (receipt["status"] === 1){
            console.log("交易成功......")
            this.loading = false
            that.$confirm('快去『查看名片』那里查看自己的名片吧~', '交易成功', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
            }).then(() => {
                that.activeIndex = '1'
              })
           
            clearInterval(intervalQuery)
          }else {
            console.log("交易失败......")
            this.loading = false
            that.$confirm('请检查参数是否正确', '交易失败', {
              confirmButtonText: '确定',
            })
            clearInterval(intervalQuery)
          }
        });
      }, 5000);
    },
    queryCardInfo(addr) {
      this.loading = true
      const that = this;
      let params = {};

      params.from = this.address[this.currentNet].fromAddress
      params.to = that.contractAddr

      // prepare gasLimit
      params.gasLimit = Utils.toBigNumber(200000);
      params.gasPrice = Utils.toBigNumber(1000000);

      // prepare value
      let value = Utils.toBigNumber(0);
      params.value = value;

      var data = [addr]

      // prepare contract
      params.contract = {
        "function": "search",
        "args": JSON.stringify(data)
      };
      neb.api
        .call({
          from: params.from,
          to: params.to,
          value: params.value,
          nonce: params.nonce,
          gasPrice: params.gasPrice,
          gasLimit: params.gasLimit,
          contract: params.contract
        })
        .then(function(resp) {
          if (resp.execute_err) {
            that.$message.error(resp.execute_err)
          } else {
            var data = JSON.parse(resp.result)
            if (data) {
              that.loading = false
              that.cardInfo = data
              that.showCard = true
            } else {
              that.loading = false
              that.showCard = false
              that.$confirm('先去创建一个自己的名片吧~', '查询不到该地址的相关信息', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
              }).then(() => {
                  that.activeIndex = '2'
                })
            }
          }
        })
        .catch(function(err) {
          that.$message.error(err.message);
        });
    }
  }
}
</script>

<style>
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  display: flex;
  min-height: 98vh;
  flex-direction: column;
  font-size: 1.5rem
}

.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
  font-size: 1.2rem;
}

.el-icon-arrow-down {
  font-size: 12px;
}

.title {
  font-size: 2rem;
}

.main-card {
  margin-top: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .footer {
  text-align: center;
  color: #b2b2b2;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.note-extension {
  text-align: center;
  margin-bottom: 10px;
}
</style>
