<template>
<div class="business-card">
  <div class="card-header" id="card-name">
      {{cardInfo.name}}
  </div>
  <div class="card-footer">
  <span class="contact-title" id="card-title">
      {{cardInfo.title}}
  </span>
  <ul>
    <li id="card-email">{{cardInfo.email}}</li>
    <li id="card-website">{{cardInfo.website}}</li>
    <li id="card-phone">{{cardInfo.phone}}</li>
  </ul>
  </div>
</div>
</template>
<script>
export default {
  props: ['cardInfo'],
  data() {
    return {
    };
  },
  // watch: {
  //   cardInfo(oldValue, newValue) {
  //     console.log(newValue)
  //     this.cardInfo = newValue
  //     Object.assign(this.cardInfo, newValue)
  //   }
  // },
  methods: {
  }
}
</script>
<style lang="scss">
body {
  background: #f5f5f5;
}
@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

.business-card {
  margin: 20px auto;
  position: relative;
  width: 500px;
  height: 300px;
  background: #E9ECEF;
  box-shadow: 0 0 10px #999;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.business-card .background-stripes {
  position: relative;
  background: #fff;
}

.business-card .background-stripes .stripe {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  box-shadow: 0 0 2px #999;
}

.business-card .background-stripes .stripe-1 {
  width: 250px;
  height: 40px;
  left: -100px;
  top: -60px;
  background: #eee;
}

.business-card .card-header {
  text-align: center;
  position: relative;
  font-size: 2em;
  z-index: 999;
  font-family: 'Monoton';
  color: #000000;
  text-shadow: 0 1px 0 rgba(255,255,255,0.25), 0 -1px 0 rgba(0,0,0,0.25);
  top: 20px;
}

.business-card .card-footer {
  text-align: center;
  position: relative;
  bottom: -50px;
  font-family: 'Kreon';
  letter-spacing: 1px;
}

.business-card .card-footer span.contact-title {
  background: rgba(255,255,255,0.5);
  box-shadow: 0 0 2px #ccc, inset 0 0 0px #aaa;
  padding: 5px;
}

.business-card .card-footer ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.business-card .card-footer ul li {
  text-shadow: 0 1px 0 rgba(255,255,255,0.25), 0 -1px 0 rgba(0,0,0,0.25);
}
</style>
