<template>
    <el-form ref="form" :model="form" label-width="100px" :rules="rules">
      <el-form-item label="姓名" prop="name" required>
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item label="职位" prop="title" required>
        <el-input v-model="form.title"></el-input>
      </el-form-item>
      <el-form-item label="手机" prop="phone" required>
        <el-input v-model="form.phone"></el-input>
      </el-form-item>
       <el-form-item label="Email" prop="email" required>
        <el-input v-model="form.email"></el-input>
      </el-form-item>
      <el-form-item label="个人主页" prop="website" required>
        <el-input v-model="form.website"></el-input>
      </el-form-item>
 
      <el-form-item class="submit-line-item">
        <el-button type="primary" @click="submitForm('form')">立即创建</el-button>
        <el-button @click="resetForm('form')">重置</el-button>
      </el-form-item>
    </el-form>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        title: '',
        phone: '',
        email: '',
        website: '',
      },
      rules: {
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' }
        ],
        title: [
          { required: true, message: '请选择你的职位', trigger: 'blur' }
        ],
        phone: [
          { required: true, message: '请选择你的手机号码', trigger: 'blur' }
        ],
        email: [
          { required: true, message: '请选择你的 Email', trigger: 'blur' }
        ],
        website: [
          { required: true, message: '请选择你的个人主页', trigger: 'blur' }
        ]
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.$emit('submitData', this.form)
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  }
}
</script>

<style>
.submit-line-item .el-form-item__content {
  display: flex;
  justify-content: space-around;
}
</style>
